.web,
.logo {
    color: #2196F3;
    font-family: 'Raleway' sans-serif;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */

    letter-spacing: 0.03em;


}

.logo {

    color: #000000;
    text-decoration: none;

}

.navigation {

    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
    list-style: none;
    text-decoration: none;


}

.navigation:hover,
.navigation:focus {
    color: #2196F3;
    ;

}

.contacts {
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #757575;
    text-decoration: none;

}

.contact-list, .footer-list, .nav-list, .contact-list{
        list-style-type: none;
    }

.contacts:hover {
    color: #2196F3;
}

.container {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;

}

.nav-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.contact-list {
    display: flex;
    text-align: center;
    gap: 50px;
    margin-left: 331px;
}

.contact-list:first-child {}

.contacts-container {
    display: flex;

}
.header{
    border-bottom: 1px solid #ECECEC;
}
/* ---------------------main--------------------------- */


body{
    font-family: 'Roboto',sans-serif ;
}
.buttons-group {
display: flex;
gap: 8px;
justify-content: center;
}





.btn {
    font-family: 'Roboto',sans-serif;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        background-color:#F5F4FA;
        border-radius: 4px;
        padding:  6px 22px;
}
.btn:hover {
    background-color:#2196F3;
}
.buttons-group, .products{
    list-style: none;
    margin-bottom: 50px;
}
.product-title {
    
        
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        
    
        letter-spacing: 0.06em;
    
        color: #212121;
        margin-top: 0px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 95px;
}

.product-item{
    flex-basis: calc((100%-2*30px) / 4);
    width: 370px;
    padding-top: 0px;
    margin-top: 0px;

}
.products > [img]{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.product-type {
   
        
        
        font-size: 16px;
        line-height: 1.87;
        
    
        letter-spacing: 0.03em;
    
        color: #757575;
}
.card {
    border: 1px solid #EEEEEE;

        width: 345px;
    border-top: transparent;

    padding-left: 24px;
padding-top: 0px;
margin-top: 0px;
}

.products_section{
    
}
/* -------------------------------footer------------------------- */

.address {
    font-family: 'Roboto', sans-serif;


    font-size: 14px;
    line-height: 1.71;
    font-style: normal;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer {
    background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;

}

.logo-footer {
    color: white;
    padding-left: 215px;

}

.contacts-list-footer {
    list-style: none;
    padding: 0;
    font-style: normal;
}

.contacts-footer {
    font-family: 'Roboto';
    font-style: normal;

    font-size: 14px;
    line-height: 1.7;


    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address {}

.footer-container {
    padding-left: 215px;

}
